body {
    background: #eae2b7;
}

.choice > img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

header, .score-header, .result-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #003049;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 15rem;
}

.choice {
    background: #fcbf49;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #003049;
    border-radius: 10px;
    text-align: center;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
}


.score-container {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    text-align: center;
}

.round-choice {
    display: flex;
    justify-content: space-evenly;
}

#vs {
    justify-self: center;
    color: #d62828;
}
